/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 45px;
    padding-right: 15px;
}

.container {
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(150px,1fr));
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));

    max-height: 100vh;
    max-width: 100vw;

    background-color: #d1d5db; 
}

/************************* SIDEBAR (START) */
.sidebar {
    display: grid;
    color: #f0f9ff;
    background-color: #38bdf8; 
    padding-left: 20px;
    padding-top: 10px;
    grid-column: 1/2;
    grid-row: 1/6;
    grid-template-rows: 1fr 3fr 2fr 4fr;
}

.sidebar li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 2.5px;
}
/************************* SIDEBAR (end) */







/************************* HEADER (START) */
.header {
    display: grid;
    background-color: orange;
    grid-column: 2/6;
}
/************************* HEADER (end) */







/************************* PROJECTS (START) */
.projects {
    display: grid;
    padding: 15px;
    grid-column: 2/5;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 10px;
}

.projects .title {
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.projects p {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
}

.projects ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 15px;
}

.projects li {
    list-style-type: none;
}

.project {
    background-color: #FFFFFF;
    color: darkgray;
    text-align: left;
    border-radius: 10px;
    border-left-style: solid;
    border-left-width: 7.5px;
    border-color: #fcd34d;
}
/************************* PROJECTS (end) */



/************************* ANNOUNCEMENTS (START) */
.announcements {
    display: grid;
    background-color: #d1d5db; 
    padding: 15px;
    grid-column: 5/6;
    grid-row: 2/4;
}

.announcements-container {
    display: grid;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 0.5rem 10px 0.5rem;
    margin-top: 10px;
}

.announcement .title {
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 0.75rem;
}

.announcement p {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    background-color: #FFFFFF;
    color: darkgray;
    font-size: 0.75rem;
}

.announcement {
    border-bottom: 1px solid #d1d5db;
}
/************************* ANNOUNCEMENTS (end) */



/************************* TRENDING (START) */
.trending {
    display: grid;
    background-color: violet; 
    grid-column: 5/6;
    grid-row: 4/6;
}
/************************* TRENDING (end) */